<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernateSessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">137128</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.206.128:3306/thesis_hosp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.patientId.new_generator_mappings">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="org.dcm4che3.tool.storescp.domain.Patient"/>
        <mapping class="org.dcm4che3.tool.storescp.domain.Study"/>
        <mapping class="org.dcm4che3.tool.storescp.domain.Seri"/>
        <mapping class="org.dcm4che3.tool.storescp.domain.Institute"/>
        <mapping class="org.dcm4che3.tool.storescp.domain.Image"/>
    </session-factory>
</hibernate-configuration>